.services-container {
    text-align: center;
    padding: 20px;
  }
  
  .services-list {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .service-card {
    padding: 15px;
    background: #ED9ED6;
    border-radius: 10px;
    font-weight: bold;
    width: 200px;
    text-align: center;
  }
  